.card-list {
  margin: 0 auto;
  padding: 20px;
}

.header-section {
  background-color: #b7d2dd; /* Sky blue background */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.header-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
  position: absolute;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-button svg {
  color: #333;
  font-size: 1.2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 5px;
  color: #000;
  text-align: left;
}

.card hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-top: 15px;
  line-height: 1.6;
  text-align: justify;
}

.card-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-form h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-input,
.form-textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-input {
  height: 40px;
}

.form-textarea {
  height: 150px;
  resize: vertical;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; 
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 250px;
}
.add-card-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; 
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #45a049; 
}
